@import './main.scss';

body {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/gradient-background.png");
}

#auth-block {
    background-color: rgba(19, 19, 19, 0.4);
    backdrop-filter: blur(50px);
    width: 20em;
    height: 25em;
    border-radius: 1.5em;
    border: 1px solid rgba(21, 21, 21, 0.3);
}

@keyframes wave-animation {
    0% {
        background-position: 0 0;
        height: 7em;
    }
    50% {
        background-position: 10em -1em;
        height: 6em;
    }
    100% {
        background-position: 20em 0;
        height: 7em;
    }
}

#auth-top {
    width: 100%;
    height: 7em;
}

.brand-wave {
    background-image: url("../img/wave.png");
    border-radius: 1.5em 1.5em 0 0;
    position: absolute;
    width: 100%;
    height: 7em;
    background-size: 20em 7em;
    opacity: 0.2;
    // z-index: -1;
}

.wave1 {
    animation: wave-animation 5s ease-in-out infinite;
}

.wave2 {
    animation: wave-animation 9s ease-in-out infinite;
}

.wave3 {
    animation: wave-animation 3s ease-in-out infinite;
}

.wave4 {
    animation: wave-animation 7s ease-in-out infinite;
}

#brand-logo {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 2em;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.1));
}