body {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/gradient-background.png");
}

::-webkit-scrollbar {
    display: none;
}