#auth-block {
    background-color: rgba(19, 19, 19, 0.4);
    backdrop-filter: blur(50px);
    width: 23em;
    height: 28em;
    border-radius: 1.5em;
    border: 1px solid rgba(21, 21, 21, 0.3);
    overflow: hidden;
}

#auth-inner {
    height: 28em;
    display: flex;
    flex-direction: column;
}

#auth-top {
    width: 100%;
    height: 7em;
}

#auth-form {
    margin-top: 1.5em;
    flex-grow: 1;
}

@media screen and (max-width: 612px) {
    #auth-block {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #auth-inner {
        margin-top: 10%;
        height: 90%;
        padding: 1em;
        z-index: 1;
    }
}