.auth-input {
    display: block;
    border: none;
    outline: none;
    width: 21em;
    height: 2em;
    background-color: rgba(14, 14, 14, 0.202);
    padding: 1em;
    color: rgba(255, 255, 255, 0.742);
    font-size: 1em;
    z-index: 10;
    margin-block: 0.1em;

    &::placeholder {
        color: rgba(255, 255, 255, 0.1);
    }

    &::-moz-selection {
        background: #7700ff;
    }

    &::selection {
        background: #7700ff;
    }
}

// if not placeholder of input is shown
label {
    position: relative;
    top: -2.65em;
    left: 1em;
    color: rgba(255, 255, 255, 0.142);
    z-index: -1;

    // disable selecting
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: all 0.1s ease-in-out;
}

// label when inpus is active
.auth-input:not(:placeholder-shown) ~ label, .auth-input:focus ~ label {
    top: -5.4em;
    z-index: 100;
}

@media screen and (max-width: 612px) {
    .auth-input {
        width: calc(100% - 2em);
    }
}